*{
  margin: 0;
  padding: 0;
}
#container{
  display: flex;
  justify-content: center;
}
.sx img,
.dx img{
  width: 156px
}
#container .next,
#container .prev{
  cursor: pointer;
  font-size: 30px;
  margin: 0 1px;
  color: black;
}
#pokedex{
  position: relative;
  background-image: url("https://www.pngitem.com/pimgs/m/222-2227129_pokemon-pokedex-hd-png-download.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  width: 1000px;
}
.logo{
  position: absolute;
  top: 5px;
  right: 90px;

}
.logo img{
  width: 300px;
  transition: 0.5s;
}
.logo img:hover{
  transform: scale(1.2);
}
div .schermo {
  position: absolute;
	height: 190px;
	width: 250px;
  top: 45%;
  transform: translateY(-50%);
  left:180px;
	margin-bottom: 9px;
	background-color: white;
}
.schermo img{
  height: 180px;
}
div .stats {
  line-height: 1.6;
  font-family: monospace;
  font-size: 120%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 500px;
  margin-left: 80px;
	height: 130px;
	width: 280px;
	padding: 10px;
}
div .stats .descrizione{
  line-height: normal;
}
.stats span{
  text-transform: capitalize;
}
/* cross */
div.cross {
  position: absolute;
  background-color: red;
  width: 120px;
  height: 120px;
  top: 81%;
  transform: translateY(-50%);
  left: 335px;
}
div.topcross {
  width: 30px;
  height: 30px;
  background-color: #222;
  position: absolute;
  top: 20px;
  left: 30px;
  box-shadow: -3px 2px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
div.leftcross {
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #222;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50px;
  box-shadow: -3px 2px black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.midcross {
  width: 30px;
  height: 30px;
  background-color: #222;
  position: absolute;
  top: 50px;
  left: 30px;
  box-shadow: -3px 2px black;
}
div.rightcross {
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #222;
  position: absolute;
  top: 50px;
  right: 30px;
  box-shadow: -3px 2px black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.botcross {
  width: 30px;
  height: 30px;
  background-color: #222;
  position: absolute;
  bottom: 10px;
  left: 30px;
  box-shadow: -3px 2px black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.upT {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: 5px;
  left: 4px;
}
div.downT {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
  position: absolute;
  bottom: 5px;
  left: 4px;
}
div.leftT {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid black;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 5px;
  left: 4px;
}
div.rightT {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid black;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}
div.midCircle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 30px;
  background-color: #111;
}
.bot1{
  width: 50px;
  border-radius: 25%;
  height: 10px;
}
.bot2{
  background-color: yellow;
  width: 50px;
  height: 50px;
  color: red;
  font-size: 26px;
  font-weight: bolder;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid red;
}
/* PALLINI */
.pallini {
  position: absolute;
  left:12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  text-align: center;
  border: 3px solid green;
  border-radius: 50px;
  padding: 8px;
  height: 80%;

}
.active {
  color: red;
}
.pallini i{
  padding: 80%;
  cursor: pointer;
}
