<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Slider Vue</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="container">
    <div id="pokedex">
      <!-- schermo pokemon -->
      <div class="schermo">
        <img :src="immagini[contatore]" alt="pkmn">
      </div>
      <!-- schermo pokemon -->
      <!-- Cursore -->
      <div class="cross">
        <div class="leftcross">
          <div class="prev" @click="prevPoke">
              <i class="fas fa-angle-left"></i>
          </div>
        </div>
        <div class="topcross">
          <div class="upT"></div>
        </div>
        <div class="rightcross">
          <div class="next" @click="nextPoke">
              <i class="fas fa-angle-right"></i>
          </div>
        </div>
        <div class="midcross">
          <div class="midCircle"></div>
        </div>
        <div class="botcross">
          <div class="downT"></div>
        </div>
      </div>
      <!-- Cursore -->
      <!-- schermo statistiche -->
      <div class="stats">
        <h3 v-model="pokedex">Nome : <span>{{nomi[contatore]}}</span></h3>
        <h3>Tipo: <span>{{tipo[contatore]}}</span></h3>
        <h3 class="descrizione" >Descrizione:  <span>{{descrizione[contatore]}}</span></h3>
      </div>
      <!-- Pallini -->
      <div class="pallini">
        <i class="fas fa-circle" v-for="(img, index) in immagini" :class="(index == contatore) ? 'active' : ''" @click="cambiaPoke(index)"></i>
      </div>
    </div>
  </div>

    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
